body{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    font-family: 'Trebuchet MS';
    background-color: rgb(68, 84, 105);
    color:white;
}
header{
    background-color: rgb(34, 40, 70);
    height:15vh;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div a{
    padding:0;
    text-decoration: none;
    color:white;
}
header div a:hover{
    background: none;
    color:lightsteelblue;
    border-bottom: 1px dotted lightsteelblue !important;
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:rgb(34, 40, 70);
}
.div1{
    height:85vh;
    width: 100%;
    display: flex;
}
#baseit{
    margin-left: 5px;
    font-size: 3em;
}
.login{
    margin-right:5px;
}
aside{
    background-color: rgb(34, 40, 70);
    flex:0.75;
}
aside ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
aside ul li{
    background-color: rgb(68, 84, 105);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color:white;
    width:10vw;
    text-align: right;
    display: flex;
    margin-bottom:30px;
}
#listethemes{
    background:none !important;
}
aside ul li a{
    width:100%;
    height:100%;
    text-decoration: none;
    color:white;
    padding: 10px;
}
aside ul li a:hover{
    background-color: rgb(255, 255, 253, 0.3);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 0 !important;
    color: white;
}

section{
    flex:5;
    height: 100%;
    background-color: rgb(90, 110, 136);
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow:scroll;
}
section h1{
    background-color: lightsteelblue;
    border-radius:10px;
    padding-left:10px;
    padding-right:10px;
    text-align: center;
}
section div ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:30vh;
}